/* Input.css */
/* Global shared tailwindcss styles */

@import 'tailwindcss';

/* Base reset & global styles */
@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    min-height: 100%;
  }

  body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  header {
    background-color: rgb(112, 163, 163);
    text-align: center;
    align-content: center;
    height: 60px;
    margin-bottom: 20px;
  }

  main {
    flex-grow: 1;
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1.5rem;
  }

  h5 {
    font-size: 1.25rem;
  }

  h6 {
    font-size: 1rem;
  }

  /* register.html, profile.html/.js */
  .register-message {
    margin: 1rem auto;
    text-align: center;
    width: 300px;
    background-color: red;
  }

  input {
    height: 1.5rem;
    border: 1px solid black;
    border-radius: 0.25rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background-color: #f9fafb;
    margin-bottom: 1.25rem;
  }

  /* Not logged in / Logged in  */
  .hide {
    display: none;
  }

  /* All ID="#" are connected to JavaScript */
  #userContent {
    display: flex;
    align-items: center;
  }

  /* shared */
  #credits,
  #logoutBtn {
    border: 1px black solid;
    width: max-content;
    padding: 2px 2px;
  }

  #credits {
    background-color: beige;
    margin-right: 2px;
  }

  #avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  #logoutBtn {
    background-color: aqua;
  }

  #avatar img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  #bannerImg img {
    width: 100%;
    height: 96px;
  }

  /* (mobile view) product items card */
  #saleItems {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1rem;
    padding: 1rem;
    margin-top: 25px;
  }

  /* (Desktop view) product items card */
  @media (min-width: 1024px) {
    #saleItems {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
  }

  /* listing card style */
  .listing-card {
    border: 1px solid #ccc;
    padding: 0.75rem;
    border-radius: 0.5rem;
    background-color: #c9c6c6;
    overflow-wrap: break-word;
  }

  .listing-card img {
    width: 100%;
    max-height: 300px;
    object-fit: contain;
    border-radius: 0.25rem;
  }

  .listing-card h3 {
    margin: 0.5rem 0;
    font-size: 1rem;
  }

  footer {
    background-color: rgb(112, 163, 163);
    text-align: center;
    align-content: center;
    height: 60px;
  }
}
